@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.card-paragraph4 {
    color: #ff9f00;
    font-size: 15px;
    font-weight: bold;
    margin-top: 3px;
}

.card-paragraph3 {
    color: #ff9f00;
    font-size: 15px;
    font-weight: bold;
}

.card-paragraph2 {
    color: #959ead;
    font-size: 20px;
}

.card-paragraph1 {
    color: #183b56;
    font-size: 20px;
    font-weight: bold;
}

.card-head {
    color: #959ead;
    font-size: 18px;
}

.card-image {
    height: 160px;
    width: 100%;
}

.main-heading {
    color: #183b56;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bg-container {
    background-color: white;
}